*::-webkit-input-placeholder {
	color: #000;
	opacity: 1;
}
*:-moz-placeholder {
	color: #000;
	opacity: 1;
}
*::-moz-placeholder {
	color: #000;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #000;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "Roboto", sans-serif;
	font-size: 0.833vw;
	line-height: 160%;
	color: #000;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}
*:link, 
*:visited, 
*:hover, 
*:focus,
*:active {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	padding-top: 8.958vw;

}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}


.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background-color: #fff;
}
.header__top {
	padding: 0.52vw 0;
	background: #f1f5f6;
}
.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navigation {
	gap: 0.88vw;
	font-size: 0.73vw;
	line-height: 143%;
	display: flex;
	align-items: center;
}
.navigation a {
	color: #000;
	border-bottom: 0.05vw transparent solid;
}
.navigation a:hover {
	border-color: #000;
}
.header__email {
	font-size: 0.78vw;
}
.header__email a {
	color: #000;
}
.header__middle {
	padding: 0.73vw 0;
}
.logo-wrap {
	gap: 1.04vw;
	display: flex;
	align-items: center;
}
.logo img {
	width: 17.34vw;
	height: auto;
}
.logo-descr {
	font-size: 0.68vw;
	max-width: 12.5vw;
	line-height: 130%;
	font-weight: 300;
}
.form-search {
	width: 23.7vw;
	position: relative;
}
.form-search input {
	height: 2.6vw;
	padding: 0 0.94vw;
	padding-right: 2.6vw;
	font-size: 0.68vw;
	line-height: 130%;
	color: #000;
	border: 0.05vw solid #e6e8f4;
	border-radius: 0.42vw;
	width: 100%;
	background: #fff;
	font-family: "Roboto";
}
.btn-search {
	height: 2.6vw;
	width: 2.6vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	background: transparent;
	border: none;
	padding: 0;
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.15vw auto;
}
.header__contacts {
	gap: 0.88vw;
	display: flex;
	align-items: center;
}
.list-socials {
	gap: 0.42vw;
	display: flex;
	align-items: center;
}
.list-socials img {
	width: 2.08vw;
	height: 2.08vw;
}
.list-phones {
	line-height: 130%;
	font-weight: 600;
}
.list-phones a {
	color: #000;
}
.btn-catalog {
	font-size: 0.78vw;
	margin-right: 0.68vw;
	gap: 0.83vw;
	line-height: 130%;
	font-weight: 600;
	color: #fff;
	background: #036c6a;
	border-radius: 0.42vw;
	padding: 0.62vw 1.04vw;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
}
.btn-catalog img {
	width: 1.25vw;
	height: auto;
}
.btn-catalog:hover {
	background: #008a70;
}
.menu {
	gap: 0.35vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
}
.menu a {
	padding: 0.73vw 0.68vw;
	border-radius: 0.42vw;
	font-size: 0.78vw;
	line-height: 130%;
	font-weight: 500;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 0.05vw solid transparent;
}
.menu a:hover {
	border: 0.05vw solid rgba(3, 108, 106, 0.2);
	background: #f1f5f6;
}

.container {
    max-width: 76.56vw;
	padding: 0 0.781vw;
}
.row > div {
	padding: 0 0.94vw;
}
.row {
	margin: 0 -0.94vw;
}
.billbord {
	padding-top: 1.3vw;
}
.billbord__content {
	padding: 1.72vw 2.97vw;
	min-height: 31.25vw;
	position: relative;
	color: #fff;
}
.slider-title:not(.slick-initialized) > li:not(:first-child),
.slider-clients:not(.slick-initialized) > li:not(:first-child),
.slider-billbord:not(.slick-initialized) > li:not(:first-child) {
	display: none;
}
.slider-billbord {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.slider-billbord__image {
	height: 31.25vw;
	display: block;
}
.slider-billbord__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    transition: all 2s;
}
.billbord__content > *:not(.slider-billbord) {
	position: relative;
	z-index: 2;
}
.title-big {
	font-size: 2.5vw;
	margin-bottom: 3.02vw;
	line-height: 130%;
	font-weight: 700;
	text-shadow: 0 0 0.26vw rgba(0, 0, 0, 0.35);
}
.title-big strong {
	font-weight: 800;
	font-size: 2.71vw;
	text-transform: uppercase;
	display: block;
}
.title-big span {
	font-weight: 800;
	line-height: 110%;
}
.billbord__line {
	font-size: 2.08vw;
	margin-bottom: 2.8vw;
	line-height: 140%;
	gap: 0.62vw;
	width: 100%;
	font-weight: 700;
	display: flex;
	align-items: flex-start;
	color: #000;
}
.slider-title__item {
	color: #00478a;
}
.slider-title {
	width: 13.8vw;
}
.btn-main {
	font-size: 0.73vw;
	padding: 0 1.35vw;
	padding-right: 2.71vw;
	height: 2.71vw;
	border-radius: 2.6vw;
	background: #00478a;
	line-height: 143%;
	font-weight: 500;
	color: #fff;
	font-family: "Roboto";
	border: none;
	cursor: pointer;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	transition: all 1s;
	z-index: 1;
}
.btn-main i {
	width: 2.71vw;
	height: 2.71vw;
	top: 0;
	right: 0;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: #fff;
	background: #00478A;
	transition: all 1s;
}
.btn-main i::after {
	position: absolute;
	display: block;
	content: " ";
	left: -0.78vw;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 1.41vw;
	height: 1.61vw;
	background-image: url(../img/after1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	z-index: -1;
}
.btn-main:hover {
	padding-right: 1.35vw;
}
.btn-main:hover i {
	right: -2.86vw;
}
.slick-dots {
	bottom: 0;
	left: 0;
	width: 100%;
}
.slick-dots li {
	width: 0.62vw;
	height: 0.62vw;
	margin: 0 0.47vw;
}
.slick-dots li button {
	width: 0.62vw;
	height: 0.62vw;
	background-color: #fff;
	border-radius: 50%;
	padding: 0;
	border: none;
	transition: all 0.3s;
	opacity: 1;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	background: #80C7B9;
}
.slick-dots li button::before {
	display: none;
}
.slider-billbord .slick-dots {
	bottom: 0.99vw;
}
.about {
	padding-top: 2.19vw;
	padding-bottom: 3.44vw;
}
.title-section {
	font-size: 1.88vw;
	margin-bottom: 1.61vw;
	font-weight: 600;
	line-height: 130%;
}
.about .title-section {
	margin-left: 12.7vw;
}
.about__item {
	padding: 2.5vw 1.82vw;
	margin-bottom: 1.2vw;
	border-radius: 0.83vw;
	background: #f1f5f6;
}
.title-middle {
	font-size: 1.56vw;
	line-height: 130%;
	font-weight: 600;
}
.title-middle span {
	color: #008a70;
}
.about__item:nth-child(3) {
	padding-right: 1.2vw;
}
.about__item p {
	margin-top: 0.94vw;
}
.col-lg-4 .about__item:nth-child(1) {
	min-height: 14.38vw;
}
.col-lg-4 .about__item:nth-child(2) {
	min-height: 16.04vw;
}
.col-lg-4 .about__item p {
	max-width: 18.854vw;
}
.about-main {
	min-height: 34.64vw;
	padding: 1.56vw 1.82vw;
	max-width: 17.34vw;
	margin-top: -3.13vw;
	background-image: url(../img/about_main.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-position: center top;
	color: #fff;
}
.about-main img {
	margin-left: 0.47vw;
	margin-bottom: 0.78vw;
	width: 2.97vw;
	height: auto;
}
.about-main__value {
	font-size: 5vw;
	margin-bottom: -1.04vw;
	line-height: 130%;
	font-weight: 800;
}
.about-main__title {
	font-size: 2.08vw;
	line-height: 130%;
	font-weight: 600;
}

.clients {
	padding-bottom: 3.75vw;
}
.slider-clients .slick-track {
	display: flex !important;
}
.slider-clients .slick-slide {
	padding: 0 0.78vw;
	height: inherit !important;
}
.slider-clients .slick-list {
	margin: 0 -0.78vw;
}
.item-client {
	padding: 0.73vw;
	font-size: 0.73vw;
	padding-bottom: 0;
	line-height: 140%;
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-client::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	right: 0;
	bottom: 2.55vw;
	background: #e6e8f4;
	border-radius: 0.83vw;
	z-index: -1;
}
.item-client::after {
	position: absolute;
	display: block;
	content: " ";
	bottom: 0;
	left: 0;
	right: 7.45vw;
	height: 4.69vw;
	background: #e6e8f4;
	border-radius: 0.83vw;
	z-index: -1;
}
.item-client__image::before {
	position: absolute;
	display: block;
	content: " ";
	width: 2.08vw;
	height: 0.89vw;
	left: 10.1vw;
	bottom: 1.77vw;
	background-image: url(../img/before_block1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	z-index: -1;
}
.item-client__image {
	height: 7.29vw;
	margin-bottom: 0.68vw;
	padding: 0.52vw;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: #fff;
	border-radius: 0.52vw;
}
.item-client__image img {
	max-width: 100%;
	max-height: 100%;
}
.item-client__title {
	font-size: 0.83vw;
	line-height: 140%;
	font-weight: 600;
}
.item-client__bottom {
	padding-top: 1.72vw;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: auto;
}
.btn-page {
	padding: 0 0.52vw;
	height: 2.08vw;
	border-radius: 0.73vw;
	font-size: 0.73vw;
	line-height: 140%;
	color: #fff;
	font-weight: 600;
	background: #00478a;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	font-family: "Roboto";
	transition: all 0.3s;
	cursor: pointer;
	border: none;
}
.btn-page:hover {
	background: #f1f5f6;
	color: #00478a;
}
.item-client .btn-page {
	margin-right: -0.73vw;
	margin-top: 0.1vw;
}
.item-client__date {
	color: #343437;
}
.slick-arrow {
	width: 2.71vw;
	height: 2.71vw;
	color: #fff !important;
	font-size: 0.89vw;
	top: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #008a70;
	transition: all 0.3s;
	cursor: pointer;
	border-radius: 50%;
}
.slick-arrow:hover {
	background: #00478a;
}
.slick-arrow::before {
	display: none;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}
.slider-clients .slick-prev {
	left: -3.39vw;
}
.slider-clients .slick-next {
	right: -3.39vw;
}

.steps {
	padding-top: 1.82vw;
	padding-bottom: 4.17vw;
	background-image: url(../img/bg_steps.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.steps .title-section {
	text-align: center;
}
.tabs {
	gap: 0.63vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tabs a {
	padding: 0.73vw 0.83vw;
	border-radius: 0.73vw;
	line-height: 130%;
	color: #00478a;
	font-weight: 500;
	box-shadow: 0 0.21vw 0.21vw rgba(0, 0, 0, 0.1);
	background: #f1f5f6;
	display: block;
	text-align: center;
}
.tabs a:hover,
.tabs .active a {
	background: #008a70;
	color: #fff;
}
.tab-container {
	padding-top: 2.4vw;
}
.tab-pane {
	display: none;
}
.tab-pane:first-child {
	display: block;
}
.row.row_main > div {
	margin-bottom: 1.88vw;
}
.row.row_main {
	margin-bottom: -1.88vw;
}
.item-step {
	min-height: 12.6vw;
	padding: 1.2vw 2.08vw;
	padding-top: 0.42vw;
	font-size: 0.94vw;
	line-height: 140%;
	height: 100%;
	border-radius: 2.5vw 0.83vw 0.83vw 0.83vw;
	background: #80c7b9;
}
.item-step__icon {
	width: 5.1vw;
	height: 5.1vw;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #036c6a;
	border-radius: 50%;
	border: 0.52vw solid #fff;
	position: relative;
	z-index: 3;
	transition: all 0.5s;
}
.item-step__icon img {
	width: 1.56vw;
	height: auto;
}
.item-step__head {
	margin-left: -1.67vw;
	margin-bottom: 1.35vw;
	gap: 0.21vw;
	display: flex;
	align-items: center;
}
.item-step__title {
	padding: 1.25vw 1.88vw;
	border-radius: 3.13vw;
	text-transform: uppercase;
	color: #182e26;
	font-weight: 500;
	background: #fff;
	position: relative;
	z-index: 1;
	opacity: 0;
	transition: all 0.5s;
}
.item-step__title::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	bottom: 0;
	margin: auto;
	width: 2.45vw;
	height: 2.76vw;
	left: -1.2vw;
	background-image: url(../img/before_step.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.item-step:hover .item-step__title {
	opacity: 1;
}
.item-step:hover .item-step__icon {
	background: #008a70;
}
.consultation-block {
	padding: 2.24vw 4.17vw;
	min-height: 26.2vw;
	margin-top: 4.17vw;
	position: relative;
	z-index: 1;
	color: #fff;
}
.consultation-block::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	bottom: 0;
	right: 32.03vw;
	left: 0;
	background: #00478a;
	z-index: -1;
	border-radius: 2.5vw;
}
.consultation-block::after {
	position: absolute;
	display: block;
	content: " ";
	top: 7.14vw;
	bottom: 0;
	right: 0;
	left: 0;
	background: #00478a;
	border-radius: 2.5vw;
	z-index: -1;
}
.consultation-block .title-section {
	font-size: 2.19vw;
	margin-bottom: 2.86vw;
	text-align: left;
	line-height: 160%;
}
.consultation-block .row::before {
	position: absolute;
	display: block;
	content: " ";
	top: 3.8vw;
	left: 41.35vw;
	width: 5.16vw;
	height: 5.16vw;
	background-image: url(../img/before_consult.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.text-consultation {
	padding-left: 2.08vw;
	font-size: 1.04vw;
	max-width: 25vw;
	line-height: 160%;
	font-weight: 500;
	position: relative;
}
.text-consultation p {
	margin-bottom: 0.83vw;
	position: relative;
}
.text-consultation em {
	margin-bottom: 1.1vw;
	display: block;
}
.text-consultation p::before {
    position: absolute;
    display: block;
    content: " ";
    top: 0.26vw;
    right: 100%;
    margin-right: 0.73vw;
    width: 1.04vw;
    height: 1.04vw;
    background-image: url(../img/li.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.consultation-block__descr {
    font-size: 1.25vw;
    margin-top: -0.57vw;
    margin-bottom: 4.17vw;
    line-height: 160%;
    font-weight: 500;
    color: #000;
}
.item-form {
    margin-bottom: 0.63vw;
}
.item-form input,
.item-form textarea {
    height: 2.92vw;
    padding: 0 0.83vw;
    border-radius: 0.31vw;
    font-size: 0.73vw;
    line-height: 140%;
    color: #000;
    width: 100%;
    border: none;
    background: #fff;
    font-family: "Roboto";
}
.item-form textarea {
    padding-top: 0.94vw;
    height: 5.42vw;
    resize: none;
}
.consultation-block .col-lg-5.offset-lg-1 {
    padding-left: 2.08vw;
}
.consultation-block__bottom {
    padding-top: 0.73vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.consultation-block .btn-main {
    min-width: 12.87vw;
    height: 2.92vw;
    flex: none;
}
.btn-main.btn-main_default {
    padding: 0 1.35vw;
    background: #008a70;
}
.btn-main.btn-main_default:hover {
    background: #006652;
}
.checkbox {
    font-size: 0.68vw;
    line-height: 130%;
    opacity: 0.5;
    color: #fff;
    font-weight: 400;
    letter-spacing: normal;
    display: flex;
    text-align: left;
    justify-content: center;
}
.checkbox label input {
    position: absolute;
    z-index: -1;
    height: 1px !important;
    width: 1px !important;
    opacity: 0 !important;
    margin: 0.63vw 0.1vw 0 0.36vw !important;
}
.checkbox label > span {
    position: relative;
    padding: 0.16vw 0 0 1.67vw;
    display: block;
    cursor: pointer;
}
.checkbox label > span:before {
    content: '';
    position: absolute;
    top: 0.1vw;
    left: 0;
    width: 0.99vw;
    height: 0.99vw;
    border: 0.05vw solid #fff;
    transition: .2s;
}
.checkbox label > span:after {
    content: '';
    position: absolute;
    top: 0.1vw;
    left: 0;
    width: 0.99vw;
    height: 0.99vw;
    content: "\f00c";
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Pro";
    font-weight: 700;
    background-image: none;
    color: #fff;
    font-size: 0.52vw;
    opacity: 0;
    transition: .2s;
}
.checkbox label input:checked + span:after {
    opacity: 1;
}

.questions {
    padding-top: 2.6vw;
    padding-bottom: 4.9vw;
    background: #e6e8f4;
}
.questions .title-section {
    margin-bottom: 2.19vw;
}
.item-question {
    margin-bottom: 0.63vw;
    border-radius: 0.83vw;
    background: #fff;
    transition: all 0.3s;
}
.item-question.active {
    background: #f1f5f6;
}
.item-question__arrow:hover,
.item-question.active .item-question__arrow {
    background-color: transparent;
}
.item-question__arrow:hover::after,
.item-question.active .item-question__arrow::after {
    opacity: 1;
}
.item-question__head {
    padding: 1.77vw 2.08vw;
    font-size: 1.04vw;
    line-height: 160%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.item-question__arrow {
    width: 2.71vw;
    height: 2.71vw;
    background-color: #008a70;
    border-radius: 50%;
    flex: none;
    position: relative;
    transition: all 0.3s;
}
.item-question__arrow::after,
.item-question__arrow::before {
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.15vw auto;
    transition: all 0.3s;
}
.item-question__arrow::after {
    background-color: #E6E8F4;
    background-image: url(../img/minus.svg);
    background-size: 1.25vw auto;
    opacity: 0;
}
.item-question__content {
    padding: 0 2.08vw;
    padding-bottom: 1.77vw;
    display: none;
}
.item-question__content li {
    padding-left: 1.04vw;
    margin-bottom: 0.52vw;
    position: relative;
}
.item-question__content li::before {
    position: absolute;
    top: 0;
    left: 0.16vw;
    content: "•";
}
.item-question__content li:last-child {
    margin-bottom: 0;
}
.form-page {
    padding: 1.25vw 2.5vw;
    padding-bottom: 1.51vw;
    border-radius: 1.25vw;
    background: #00478a;
    color: #fff;
}
.form-page .item-form input {
    height: 2.71vw;
}
.title-form {
    font-size: 1.25vw;
    margin: 0 auto;
    max-width: 18.13vw;
    margin-bottom: 1.2vw;
    line-height: 130%;
    font-weight: 500;
    text-align: center;
}
.form-page .btn-main {
    width: 12.87vw;
    padding: 0 0.52vw;
    display: flex;
    margin: 0 auto;
    margin-top: 0.63vw;
}
.form-page .checkbox {
    margin-top: 1.15vw;
}

.footer {
    padding-top: 2.29vw;
    font-size: 0.78vw;
    line-height: 140%;
    background-image: url(../img/bg_footer.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.requisites strong {
    font-weight: 500;
}
.requisites p {
    margin: 0;
}
.footer__logo {
    margin-bottom: 1.35vw;
}
.footer__logo .logo-descr {
    margin-top: 0.89vw;
}
.footer__logo .logo img {
    width: 13.85vw;
}
.footer__title {
    font-size: 0.83vw;
    margin-bottom: 0.83vw;
    line-height: 130%;
    text-transform: uppercase;
    font-weight: 600;
}
.footer__nav li {
    margin-bottom: 0.94vw;
    line-height: 130%;
    font-weight: 500;
}
.footer__nav li:last-child {
    margin-bottom: 0;
}
.footer__nav a {
    color: #000;
    border-bottom: 0.05vw transparent solid;
}
.footer__nav a:hover {
    border-color: #000;
}
.footer__nav.footer__nav_main li {
    font-size: 0.73vw;
    margin-bottom: 0.78vw;
    line-height: 140%;
    font-weight: 400;
}
.footer__info p {
    margin-bottom: 0.94vw;
}
.footer__info p strong {
    font-weight: 500;
    display: block;
}
.footer__contacts {
    gap: 1.61vw;
    display: flex;
    align-items: center;
}
.footer-bottom {
    padding: 0.52vw 0;
    margin-top: 3.13vw;
    font-size: 0.73vw;
    line-height: 150%;
    color: #9b9ea0;


    border-top: 0.05vw solid #c4c4c4;
}
.create {
    display: flex;
    align-items: center;
}
.create a {
    margin-left: 0.78vw;
}
.create img {
    width: 2.97vw;
}
.footer-bottom a {
    color: #9b9ea0;
}
.footer-bottom a:hover {
    color: #000;
}
.btn_top {
    font-size: 0.94vw;
    margin-left: auto;
    position: relative;
    color: #fff !important; 
    width: 2.08vw;
    height: 2.08vw;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #008a70;
    z-index: 7;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.btn_top:hover {
    background: #00478a;
}
.menu-overlay,
.phone-mobile,
.footer__title i {
    display: none;
}
/*Style Sandwich*/
.sandwich span {
	display: block;
}
.sandwich {
	width: 36px;
	height: 36px;
	padding-top: 6px;
	padding-left: 9px;
	background: #036C6A;
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: 20;
	flex: none;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 5px;
	width: 12px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-bottom {
	position: relative;
	top: 9px;
	width: 18px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-footer {
	position: relative;
	top: 13px;
	width: 18px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sandwich.active .sw-topper {
	top: 11px;
	width: 18px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 7px;
	transform: rotate(-45deg); 
}
.page-catalog {
	padding-top: 1.56vw;
	padding-bottom: 4.53vw;
}
.page-catalog .title-section {
	margin-bottom: 1.15vw;
}
.sidebar-catalog {
	padding: 0.83vw 0.78vw;
	border-radius: 0.83vw;
	background: #f1f5f6;
}
.item-sidebar {
	margin-bottom: 0.83vw;
}
.item-sidebar__head {
	font-size: 0.88vw;
	line-height: 130%;
	cursor: pointer;
	text-transform: uppercase;
	color: #00478a;
	font-weight: 600;
	display: block;
}
.item-sidebar__head:hover {
	color: #000;
}
.item-sidebar__content {
	display: none;
}
.subcategry-sidebar__content {
	padding-top: 0.68vw;
	padding-bottom: 0.05vw;
	display: none;
}
.subcategry-sidebar {
	margin-top: 0.57vw;
}
.subcategry-sidebar__head {
	font-weight: 500;
	line-height: 130%;
	color: #000;
	cursor: pointer;
}
.subcategry-sidebar__content li {
	padding-left: 0.78vw;
	margin-bottom: 0.42vw;
	position: relative;
}
.subcategry-sidebar__content li::before {
    position: absolute;
    top: 0;
    left: 0.16vw;
    content: "•";
}
.subcategry-sidebar__content li a {
	color: #000;
}
.subcategry-sidebar__head:hover,
.subcategry-sidebar__content li a:hover {
	color: #00478A;
}
.wrapper_page .header {
	padding-bottom: 1.04vw;
	border-bottom: 0.05vw #D9D9D9 solid;
}
.wrapper_page {
	padding-top: 10.05vw;
}
.categories-list {
	margin-bottom: 1.56vw;
	gap: 0.26vw;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.categories-list a {
	padding: 0.61vw;
	font-size: 0.73vw;
	border: 0.05vw solid #e6e8f4;
	border-radius: 0.52vw;
	background: #f1f5f6;
	line-height: 130%;
	font-weight: 500;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.categories-list a:hover,
.categories-list .active a {
	background: transparent;
}
.item-catalog {
	padding: 1.04vw;
	border-radius: 0.83vw;
	border: 0.05vw solid #e6e8f4;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transition: all 0.3s;
}
.item-catalog:hover {
	box-shadow: 0 0.26vw 0.781vw #e6e8f4;
}
.item-catalog__image {
	padding: 0.68vw;
	height: 8.85vw;
	margin-bottom: 0.781vw;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow: hidden;
}
.item-catalog__image img {
	width: 100%;
	height: auto;
}
.item-catalog__title {
	font-size: 0.94vw;
	margin-bottom: 0.57vw;
	line-height: 160%;
	color: #000;
	font-weight: 600;
}
.item-catalog .btn-page {
	padding: 0 1.35vw;
	margin-top: auto;
	margin-left: auto;
}
.pager {
	height: 2.08vw;
	margin-top: 2.86vw;
	max-width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-numbers {
	margin: 0 1.30vw;
	font-size: 1.04vw;
	line-height: 130%;
	color: #182e26;
	font-weight: 500;
}
.page-numbers:hover,
.page-numbers.current {
	color: #00478a;
}
.page-numbers.current {
	font-weight: 600;
}
.prev.page-numbers,
.next.page-numbers {
	width: 2.08vw;
	height: 2.08vw;
	font-size: 0.73vw;
	border-radius: 50%;
	color: #008a70;
	border: 0.05vw solid #008a70;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
}
.next.page-numbers {
	right: 0;
	left: auto;
}
.prev.page-numbers:hover,
.next.page-numbers:hover {
	color: #fff;
	background: #008a70;
}

.page-contacts {
	padding-top: 1.72vw;
}
.contacts-block {
	padding: 1.41vw 2.24vw;
	padding-bottom: 0.05vw;
	background: #f1f5f6;
	border-radius: 0.83vw;
	min-height: 100%;
}
.item-contact {
	margin-bottom: 2.76vw;
	font-size: 0.94vw;
	line-height: 160%;
	color: #000;
}
.item-contact__title {
	font-size: 1.04vw;
	margin-bottom: 0.68vw;
	font-weight: 500;
	line-height: 140%;
	text-transform: uppercase;
}
.item-contact a,
.item-contact p a {
	color: #000;
}
.item-contact p {
	margin: 0;
}
.item-contact_time {
	margin-left: -1.04vw;
}
.page-contacts .title-form {
	font-size: 1.67vw;
}
.page-contacts .form-page {
	padding: 1.41vw 2.60vw;
	padding-bottom: 1.93vw;
}
#map {
	height: 26.56vw;
	margin-top: 1.93vw;
	background: #f1f5f6;
	width: 100%;
}
.contacts-block .title-section {
	margin-bottom: 2.604vw;
}
.btn-page_filter {
	display: none;
}
.slider-nav:not(.slick-initialized) > li:not(:first-child),
.slider-for:not(.slick-initialized) > li:not(:first-child) {
	display: none;
}
.slider-for {
	border: 0.05vw solid #E6E8F4;
	border-radius: 0.83vw;
}
.slider-for__item {
	height: 19.27vw;
	padding: 2.19vw 2.86vw;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.slider-for__item img {
	max-width: 100%;
	max-height: 100%;
}
.slider-nav__item {
	height: 6.25vw;
	padding: 0.73vw 0.94vw;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: 0.05vw solid #E6E8F4;
	transition: all 0.3s;
}
.slider-nav__item img {
	max-width: 100%;
	max-height: 100%;
}
.slider-nav .slick-slide {
	padding: 0 0.26vw;
}
.slider-nav .slick-list {
	margin: 0 -0.26vw;
}
.slider-nav {
	margin-top: 0.57vw;
}
.slider-nav__item:hover {
	border-color: #c3c6d5;
}
.breadcrumbs {
	padding-top: 0.73vw;
	padding-bottom: 0.99vw;
	font-size: 0.73vw;
	line-height: 160%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs a {
	color: #000;
	border-bottom: 0.05vw solid transparent;
}
.breadcrumbs a:hover {
	border-color: #000;
}
.breadcrumbs li::after {
	content: "/";
	margin: 0 0.52vw;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.card-info {
	padding: 1.56vw;
	padding-right: 0.94vw;
	border-radius: 0.83vw;
	background: #f1f5f6;
}
.card-info strong {
	font-weight: 500;
}
.title-small {
	font-size: 0.94vw;
	line-height: 160%;
	font-weight: 600;
}
.card-info .title-small {
	margin-top: 1.2vw;
	margin-bottom: 0.57vw;
}
.card-info li {
    padding-left: 1.04vw;
    margin-bottom: 0.52vw;
    position: relative;
}
.card-info li::before {
    position: absolute;
    top: 0;
    left: 0.16vw;
    content: "•";
}
.card-info__buttons {
	gap: 2.6vw;
	padding-top: 1.98vw;
	display: flex;
	align-items: center;
}
.price-main {
	font-size: 1.88vw;
	line-height: 130%;
	font-weight: 600;
}
.card-info .btn-main {
	padding: 0 2.5vw;
}
.page-card {
	padding-bottom: 3.13vw;
}
.page-card .tabs {
	margin-top: 1.51vw;
	gap: 0.78vw;
	justify-content: flex-start;
}
.page-card .tabs a {
	padding: 0.52vw 1.46vw;
	font-size: 0.94vw;
	border-radius: 0.52vw;
	box-shadow: none;
}
.page-card .tab-container {
	padding-top: 1.3vw;
}
.feature {
	margin-bottom: 0.52vw;
	display: flex;
	align-items: center;
}
.feature > *:first-child {
	min-width: 19.79vw;
	padding-right: 0.52vw;
}
.recommendations {
	padding-bottom: 5.21vw;
}
.slider-team:not(.slick-initialized) > li:not(:first-child),
.slider-partners:not(.slick-initialized) > li:not(:first-child),
.slider-catalog:not(.slick-initialized) > li:not(:first-child) {
	display: none;
}
.slider-team .slick-track,
.slider-partners .slick-track,
.slider-catalog .slick-track {
	display: flex !important;
}
.slider-team .slick-slide,
.slider-partners .slick-slide,
.slider-catalog .slick-slide {
	padding: 0.83vw;
	height: inherit !important;
}
.slider-team .slick-list,
.slider-partners .slick-list,
.slider-catalog .slick-list {
	margin: -0.83vw;
}
.slider-team .slick-prev,
.slider-partners .slick-prev,
.slider-catalog .slick-prev {
	left: -3.65vw;
}
.slider-team .slick-next,
.slider-partners .slick-next,
.slider-catalog .slick-next {
	right: -3.65vw;
}
.recommendations .title-section {
	margin-bottom: 2.03vw;
}
.modal-block {
	padding: 0;
	background: transparent;
}
.modal-block .fancybox-button svg path {
	fill: #fff;
}
.fancybox-slide--html .fancybox-close-small {
    color: currentColor;
    padding: 0.26vw;
    right: 0.21vw;
    top: 0.31vw;
}
.descr-form {
	margin-bottom: 1.72vw;
	font-weight: 500;
	text-align: center;
}
.modal-block .form-page {
	padding: 1.93vw 2.6vw;
	width: 23.44vw;
	max-width: 100%;
}
.modal-block .form-page .title-form {
	font-size: 1.67vw;
	margin-bottom: 0.52vw;
	line-height: 160%;
}
.modal-block .form-page .item-form input {
	height: 2.92vw;
}
.modal-block .form-page .btn-main {
	font-size: 0.83vw;
	margin-top: 1.51vw;
	height: 2.92vw;
}
.modal-block {
	display: none;
}
.page-mockup {
	padding-top: 6.875vw;
	padding-bottom: 10.521vw;
	background-image: url(../img/bg_error.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.title-mockup {
	font-size: 2.188vw;
	margin-bottom: 2.292vw;
	line-height: 133%;
	text-transform: uppercase;
	font-weight: 800;
}
.title-mockup span {
	font-size: 3.333vw;
	margin: 1.094vw 0;
	line-height: 87%;
	display: block;
}
.descr-mockup {
	font-size: 1.25vw;
	max-width: 28.125vw;
	line-height: 133%;
	font-weight: 600;
}
.page-mockup .btn-main {
	margin-top: 2.969vw;
	height: 2.917vw;
	padding: 0 2.031vw;
	background: #036c6a;
}
.page-mockup .btn-main:hover {
    background: #004645;
}

.page-about {
	padding-top: 1.04vw;
	padding-bottom: 4.27vw;
}
.billbord-about {
	min-height: 28.02vw;
	padding-top: 1.30vw;
	background-image: url(../img/billbord_about.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.billbord-about .title-section {
	margin-bottom: 7.39vw;
}
.billbord-about__text {
	font-size: 1.04vw;
	max-width: 36.46vw;
	margin-left: 2.86vw;
	line-height: 160%;
	color: #fff;
	font-weight: 500;
}
.billbord-about__text p {
	margin-bottom: 1.04vw;
}
.item-partner {
	height: 8.33vw;
	padding: 0.78vw;
	border: 0.05vw solid #d9d9d9;
	border-radius: 0.52vw;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.item-partner img {
	max-width: 100%;
	max-height: 100%;
}
.partners {
	padding-bottom: 4.43vw;
}
.item-advantage {
	padding: 1.67vw 1.82vw;
	border-radius: 0.83vw;
	min-height: 100%;
	background: #f1f5f6;
	font-weight: 500;
}
.item-advantage__icon {
	width: 3.13vw;
	height: 3.13vw;
	margin-bottom: 1.51vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-advantage__icon img {
	max-width: 100%;
	max-height: 100%;
}
.advantages {
	padding-bottom: 5.21vw;
}
.team {
	padding-top: 4.01vw;
	padding-bottom: 4.69vw;
}
.team .title-section {
	margin-bottom: 2.08vw;
}
.item-team {
	padding: 0.83vw;
	padding-bottom: 2.87vw;
	border-radius: 0.83vw;
	line-height: 140%;
	min-height: 100%;
	background: #f1f5f6;
}
.item-team__image {
	height: 14.06vw;
	border-radius: 0.52vw;
	width: 100%;
}
.item-team__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 2s;
	border-radius: 0.52vw;
}
.item-team__content {
	padding: 0.99vw 0.78vw;
	padding-bottom: 0;
}
.item-team__title {
	margin-bottom: 0.10vw;
	font-size: 0.94vw;
	line-height: 140%;
	font-weight: 500;
}
.documents {
	padding-bottom: 4.69vw;
}
.item-document {
	padding: 0.63vw;
	gap: 0.78vw;
	border-radius: 0.83vw;
	display: flex;
	color: #000;
	background: #f1f5f6;
}
.item-document:hover {
	box-shadow: 0 0.26vw 0.78vw #e6e8f4;
}
.item-document__image {
	width: 10.31vw;
	height: 14.64vw;
	border-radius: 0.52vw;
	display: block;
	flex: none;
}
.item-document__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 2s;
	border-radius: 0.52vw;
}
.item-document__content {
	padding: 0.78vw 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-document__title {
	line-height: 140%;
	color: #000;
	display: block;
	font-weight: 500;
}
.item-document__descr {
	gap: 0.36vw;
	color: #182e26;
	margin-top: auto;
	display: flex;
	align-items: center;
}
.item-document__descr img {
	width: 1.25vw;
	height: auto;
}
.consultation-about {
	padding-top: 4.84vw;
	padding-bottom: 3.65vw;
	background: #e6e8f4;
}
.image-page img {
	border-radius: 0.83vw;
	width: 100%;
	height: auto;
}
.text-big {
	font-size: 1.25vw;
	line-height: 160%;
	font-weight: 500;
}
.consultation-about .text-big {
	max-width: 34.77vw;
}
.text-big p {
	margin-bottom: 1.042vw;
}
.text-big p:last-child {
	margin-bottom: 0;
}

.item-industry {
	height: 20.83vw;
	padding: 2.24vw 1.82vw;
	padding-bottom: 1.04vw;
	padding-right: 1.04vw;
	border-radius: 0.83vw;
	font-size: 0.73vw;
	line-height: 160%;
	color: #fff;
	background: #e6e8f4;
	position: relative;
	z-index: 1;
	display: block;
}
.item-industry__image {
	border-radius: 0.83vw;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: block;
	transition: all 0.3s;
}
.item-industry__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    transition: all 2s;
	border-radius: 0.83vw;
}
.item-industry__image::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0.83vw;
}
.item-industry__title {
	font-size: 1.25vw;
	margin-bottom: 2.6vw;
	line-height: 130%;
	font-weight: 600;
	display: block;
}
.item-industry__text {
	max-height: 11.5vw;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	display: block;
	overflow: auto;
}
.item-industry:hover .item-industry__text {
	visibility: visible;
	opacity: 1;
}
.item-industry:hover .item-industry__image {
	opacity: 0;
}
.item-industry:hover {
	color: #000;
}
.page-industries .text-big {
	margin-bottom: 2.81vw;
	max-width: 47.29vw;
}
.page-industries {
	padding-top: 2.08vw;
	padding-bottom: 3.39vw;
}
.item-industry__text::-webkit-scrollbar {
	-webkit-appearance: none;
}
.item-industry__text::-webkit-scrollbar:vertical {
	width: 0.21vw;
}
.item-industry__text::-webkit-scrollbar:horizontal {
	height: 0.21vw;
}
.item-industry__text::-webkit-scrollbar-thumb {
	background-color: #036c6a;
	border-radius: 0.52vw;
}
.item-industry__text::-webkit-scrollbar-track {
	border-radius: 0.52vw;
	background-color: rgba(190, 176, 150, 0.32);
}
.questions_page {
	margin-top: 1.04vw;
}
.page-news {
	padding-top: 1.56vw;
	padding-bottom: 3.23vw;
}
.item-news {
	color: #000;
	display: block;
}
.item-news__image {
	height: 13.54vw;
	margin-bottom: 0.99vw;
	border-radius: 0.83vw;
	width: 100%;
	display: block;
	overflow: hidden;
}
.item-news__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    transition: all 2s;
	border-radius: 0.83vw;
}
.item-news__content {
	padding: 0 0.62vw;
	display: block;
}
.item-news__date {
	margin-bottom: 0.62vw;
	font-size: 0.73vw;
	line-height: 160%;
	display: block;
	color: #182e26;
}
.item-news__title {
	font-size: 1.04vw;
	margin-bottom: 1.04vw;
	line-height: 130%;
	font-weight: 500;
	color: #000;
	transition: all 0.3s;
	display: block;
}
.item-news__title:hover {
	color: #036c6a;
}
.item-news__text {
	display: block;
	color: #000;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.item-news:hover .item-news__image img {
	transform: scale(1.1);
}
.article-content p {
	margin-bottom: 1.04vw;
}
.article-content h2 {
	font-size: 1.25vw;
	margin-top: 1.3vw;
	margin-bottom: 0.78vw;
	font-weight: 600;
	line-height: 160%;
}
.article-content b {
	font-weight: 600;
}
.article-content strong {
	font-weight: 500;
}
.article-content h1 {
	font-size: 1.82vw;
	margin-bottom: 0.73vw;
	line-height: 130%;
	font-weight: 600;
}
.date-article {
	font-size: 0.73vw;
	margin-bottom: 1.41vw;
	color: #182e26;
}
.article-content li {
    padding-left: 1.04vw;
    margin-bottom: 0.52vw;
    position: relative;
}
.article-content li::before {
    position: absolute;
    top: 0;
    left: 0.16vw;
    content: "•";
}
.article-content img {
	margin-bottom: 1.04vw;
	border-radius: 0.83vw;
	width: 100%;
	height: auto;
}
.article-content blockquote {
	padding: 2.76vw;
	margin: 0;
	margin-top: 3.13vw;
	border-radius: 0.83vw;
	font-size: 1.25vw;
	line-height: 160%;
	position: relative;
	background: #f1f5f6;
}
.article-content blockquote::after,
.article-content blockquote::before {
	position: absolute;
	display: block;
	content: " ";
	width: 1.61vw;
	height: 1.25vw;
	left: 2.19vw;
	top: 0;
	background-image: url(../img/quote1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.article-content blockquote::after {
	right: 2.19vw;
	bottom: 0;
	top: auto;
	left: auto;
	background-image: url(../img/quote2.svg);
}
.sidebar-article {
	top: 10.57vw;
	position: sticky;
}
.page-article {
	padding-bottom: 2.6vw;
}

.page-delivery {
	padding-bottom: 3.65vw;
}
.delivery-block {
	padding: 1.77vw 2.24vw;
	border-radius: 0.83vw;
	line-height: 140%;
	background: #f1f5f6;
	min-height: 100%;
}
.delivery-block .text-big {
	margin-bottom: 1.51vw;
	text-transform: uppercase;
}
.delivery-block__icon {
	width: 1.88vw;
	height: 1.88vw;
	margin-bottom: 0.63vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
.delivery-block__icon img {
	width: 100%;
	height: auto;
}
.delivery-block__item {
	max-width: 11.2vw;
}
.delivery-block__subtitle {
	margin-top: 1.35vw;
	margin-bottom: 0.83vw;
	font-size: 1.04vw;
	line-height: 140%;
	font-weight: 500;
}
.row.row_delivery > div {
	margin-bottom: 3.39vw;
}
.row.row_delivery {
	margin-bottom: -3.39vw;
}
.requisites {
	font-size: 0.94vw;
	line-height: 180%;
	columns: 2;
}
.requisites p {
	margin: 0;
	display: flex;
	align-items: flex-start;
}
.requisites p span:first-child {
	min-width: 10.42vw;
}