/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    body {
        font-size: 14px;
    }
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
    .row > div {
        padding: 0 5px;
    }
    .row {
        margin: 0 -5px;
    }
    .header__bottom,
    .header__wrapper .header__contacts,
    .header__wrapper .logo-descr,
    .header__wrapper .form-search,
    .header__top {
        display: none;
    }
    .logo img {
        width: 160px;
    }
    .header__middle {
        padding: 0;
    }
    .header {
        padding: 12px 0;
    }
    .hidden-mob {
        display: none !important;
    }
    .billbord__content {
        padding: 40px 15px;
        min-height: 450px;
    }
    .slider-billbord__image {
        height: 450px;
        position: relative;
        display: block;
        border-radius: 0;
    }
    .slider-billbord__image::after {
        position: absolute;
        display: block;
        content: " ";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 0;
    }
    .slider-billbord__image img {
        border-radius: 0;
    }
    .title-big {
        font-size: 23px;
        margin-bottom: 40px;
        line-height: 160%;
    }
    .title-big strong {
        font-size: 24px;
    }
    .billbord {
        padding-top: 0;
        margin: 0 -15px;
    }
    .billbord__info {
        padding: 15px;
        padding-right: 30px;
        border-radius: 24px;
        display: inline-block;
        background-color: #fff;
    }
    .billbord__line {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .slider-title {
        width: 143px;
    }
    .btn-main {
        font-size: 13px;
        padding: 0 24px;
        padding-right: 50px;
        height: 48px;
        border-radius: 48px;
    }
    .btn-main i {
        width: 48px;
        height: 48px;
    }
    .btn-main i::after {
        left: -12px;
        width: 24px;
        height: 28px;
    }
    .btn-main:hover {
        padding-right: 26px;
    }
    .btn-main:hover i {
        right: -50px;
    }
    .slick-dots li {
        width: 10px;
        height: 10px;
        margin: 0 6px;
    }
    .slick-dots li button {
        width: 10px;
        height: 10px;
    }
    .slider-billbord .slick-dots {
        bottom: 19px;
    }
    .title-middle {
        font-size: 20px;
    }
    .about__item {
        padding: 20px 15px;
        margin-bottom: 15px;
        border-radius: 16px;
    }
    .about-main {
        min-height: 545px;
        padding: 23px 20px;
        max-width: 600px;
        margin-top: 0;
        margin-bottom: 20px;
        border-radius: 20px;
    }
    .about-main img {
        margin-left: 6px;
        margin-bottom: 10px;
        width: 40px;
    }
    .about-main__value {
        font-size: 73px;
        margin-bottom: -13px;
    }
    .about-main__title {
        font-size: 33px;
    }
    .title-section {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .about .title-section {
        margin-left: 0;
    }
    .about {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .col-lg-4 .about__item p {
        max-width: 100%;
    }
    .about__item p {
        margin-top: 15px;
    }
    .item-client {
        padding: 14px;
        font-size: 14px;
        padding-bottom: 0;
    }
    .item-client::before {
        bottom: 49px;
        border-radius: 16px;
    }
    .item-client::after {
        right: 143px;
        height: 90px;
        border-radius: 16px;
    }
    .item-client__image::before {
        width: 40px;
        height: 17px;
        left: auto;
        bottom: 34px;
        right: 105px;
    }
    .item-client__image {
        height: 140px;
        margin-bottom: 13px;
        padding: 10px;
        border-radius: 10px;
    }
    .item-client__title {
        font-size: 16px;
    }
    .item-client__bottom {
        padding-top: 33px;
    }
    .btn-page {
        padding: 0 10px;
        height: 40px;
        border-radius: 11px;
        font-size: 14px;
    }
    .item-client .btn-page {
        margin-right: -14px;
        margin-top: 2px;
    }
    .clients {
        padding-bottom: 40px;
    }
    .slick-arrow {
        width: 46px;
        height: 46px;
        font-size: 14px;
    }
    .slider-clients .slick-prev {
        left: -10px;
    }
    .slider-clients .slick-next {
        right: -10px;
    }
    .tabs {
        gap: 6px;
    }
    .tabs a {
        padding: 10px 10px;
        border-radius: 12px;
        font-size: 13px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    }
    .tab-container {
        padding-top: 34px;
    }
    .row.row_main > div {
        margin-bottom: 20px;
    }
    .row.row_main {
        margin-bottom: -20px;
    }
    .item-step {
        min-height: 210px;
        padding: 18px 25px;
        padding-top: 8px;
        font-size: 16px;
        border-radius: 48px 16px 16px 16px;
    }
    .item-step__icon {
        width: 84px;
        height: 84px;
        border-width: 8px;
    }
    .item-step__icon img {
        width: 27px;
    }
    .item-step__head {
        margin-left: -18px;
        margin-bottom: 14px;
        gap: 1px;
    }
    .item-step__title {
        padding: 19px 26px;
        border-radius: 60px;
        opacity: 1;
    }
    .item-step__title::before {
        width: 40px;
        height: 43px;
        left: -19px;
    }
    .consultation-block .row::before,
    .consultation-block::before,
    .consultation-block::after {
        display: none;
    }
    .consultation-block {
        padding: 20px 15px;
        padding-bottom: 27px;
        margin-top: 30px;
        background: #00478a;
        border-radius: 24px;
    }
    .text-consultation {
        padding-left: 20px;
        font-size: 14px;
        max-width: 100%;
    }
    .consultation-block .title-section {
        font-size: 21px;
        margin-bottom: 25px;
    }
    .text-consultation p {
        margin-bottom: 12px;
    }
    .text-consultation em {
        margin-bottom: 18px;
    }
    .text-consultation p::before {
        top: 5px;
        margin-right: 10px;
        width: 16px;
        height: 16px
    }
    .consultation-block__descr {
        font-size: 14px;
        margin: 0;
        margin-bottom: 15px;
        color: #fff;
        text-align: center;
        margin-top: 15px;
    }
    .item-form {
        margin-bottom: 12px;
    }
    .item-form input,
    .item-form textarea {
        height: 48px;
        padding: 0 16px;
        border-radius: 6px;
        font-size: 14px;
    }
    .item-form textarea {
        padding-top: 18px;
        height: 104px;
    }
    .consultation-block__bottom {
        padding-top: 10px;
        flex-direction: column-reverse;
    }
    .consultation-block .btn-main {
        min-width: 250px;
        height: 44px;
    }
    .btn-main.btn-main_default {
        padding: 0 20px;
    }
    .checkbox {
        margin-top: 20px;
        font-size: 13px;
    }
    .checkbox label input {
        position: absolute;
        z-index: -1;
        height: 1px !important;
        width: 1px !important;
        opacity: 0 !important;
        margin: 12px 2px 0 7px !important;
    }
    .checkbox label > span {
        padding: 3px 0 0 32px;
    }
    .checkbox label > span:before {
        top: 2px;
        left: 0;
        width: 19px;
        height: 19px;
        border-width: 1px;
    }
    .checkbox label > span:after {
        top: 2px;
        left: 0px;
        width: 19px;
        height: 19px;
        font-size: 10px;
    }
    .steps {
        padding: 30px 0;
    }
    .questions {
        padding: 40px 0;
    }
    .questions .title-section {
        margin-bottom: 30px;
    }
    .item-question {
        margin-bottom: 12px;
        border-radius: 12px;
    }
    .item-question__head {
        padding: 15px;
        font-size: 16px;
    }
    .item-question__arrow {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    .item-question__arrow::after,
    .item-question__arrow::before {
        background-size: 15px auto;
    }
    .item-question__arrow::after {
        background-size: 21px auto;
    }
    .item-question__content {
        padding: 0 15px;
        padding-bottom: 25px;
    }
    .item-question__content li {
        padding-left: 15px;
        margin-bottom: 10px;
    }
    .item-question__content li::before {
        left: 3px;
    }
    .form-page {
        padding: 24px 20px;
        padding-bottom: 29px;
        border-radius: 24px;
    }
    .form-page .item-form input {
        height: 52px;
    }
    .title-form {
        font-size: 20px;
        max-width: 289px;
        margin-bottom: 23px;
    }
    .form-page .btn-main {
        width: 247px;
        padding: 0 10px;
        margin-top: 12px;
    }
    .form-page .checkbox {
        margin-top: 22px;
    }
    .questions .form-page {
        margin-top: 15px;
    }
    .footer {
        padding-top: 30px;
        font-size: 14px;
    }
    .footer__nav.footer__nav_main li {
        font-size: 14px;
        margin-bottom: 12px;
    }
    .footer__nav li {
        margin-bottom: 12px;
    }
    .footer__title {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .footer__logo {
        gap: 15px;
        display: flex;
        align-items: center;
    }
    .footer__logo .logo img {
        width: 160px;
    }
    .logo-descr {
        font-size: 12px;
        max-width: 240px;
    }
    .footer__logo .logo-descr {
        margin: 0;
    }
    .footer .row > div {
        margin-bottom: 15px;
    }
    .list-socials img {
        width: 36px;
        height: 36px;
    }
    .list-socials {
        gap: 10px;
    }
    .footer__contacts {
        gap: 20px;
    }
    .footer__info p {
        margin-bottom: 15px;
    }
    .requisites {
        margin-bottom: 20px;
    }
    .footer-bottom {
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 0;
    }
    .create a {
        margin-left: 15px;
    } 
    .create img {
        width: 57px;
    }
    .footer-bottom a {
        color: #9b9ea0;
    }
    .footer-bottom a:hover {
        color: #000;
    }
    .btn_top {
        font-size: 15px;
        margin-top: -50px;
        width: 36px;
        height: 36px;
    }
    .phone-mobile img {
        width: 36px;
        height: auto;
    }
    .phone-mobile {
        display: block;
    }
    .wrapper {
        padding-top: 60px;
    }
    .menu-mobile {
        width: 100%;
        top: 100%;
        left: 0;
        max-height: 100vh;
        padding: 15px 15px;
        padding-bottom: 50px;
        display: none;
        overflow: auto;
        background-color: #fff;
        position: absolute;
      }
      .menu a {
        margin: 0;
        font-size: 14px;
        padding: 14px 0;
        border-radius: 0;
        text-align: left;
        height: auto;
        display: block;
        position: relative;
        border-radius: 0;
        border: none !important;
        background: transparent !important;
        border-bottom: 1px solid #191E27 !important;
      }
      .menu-mobile .menu {
        display: block;
        margin: 0;
      }
      .form-search {
        width: 100%;
        margin-bottom: 15px;
    }
    .form-search input {
        height: 45px;
        padding: 0 15px;
        padding-right: 45px;
        font-size: 13px;
        border-radius: 8px;
    }
    .btn-search {
        height: 45px;
        width: 45px;
        background-size: 18px auto;
    }
    .header__contacts {
        gap: 15px;
        margin-top: 20px;
    }
    .menu-overlay {
        top: 62px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        display: none;
        z-index: -1;
    }
    .no-scroll {
        overflow: hidden;
    }
  
    .page-catalog {
        padding-top: 25px;
        padding-bottom: 50px;
    }
    .page-catalog .title-section {
        margin-bottom: 22px;
    }
    .sidebar-catalog {
        padding: 16px 15px;
        border-radius: 16px;
        margin-bottom: 20px;
        display: none;
    }
    .item-sidebar {
        margin-bottom: 16px;
    }
    .item-sidebar__head {
        font-size: 16px;
    }
    .subcategry-sidebar__content {
        padding-top: 13px;
        padding-bottom: 1px;
    }
    .subcategry-sidebar {
        margin-top: 11px;
    }
    .subcategry-sidebar__content li {
        padding-left: 15px;
        margin-bottom: 8px;
    }
    .subcategry-sidebar__content li::before {
        left: 3px;
    }
    .wrapper_page .header {
        padding-bottom: 12px;
        border-width: 1px;
    }
    .categories-list {
        margin-bottom: 30px;
        gap: 3px;
    }
    .categories-list a {
        padding: 7px;
        font-size: 12px;
        border-width: 1px;
        border-radius: 8px;
    }
    .item-catalog {
        padding: 20px;
        border-radius: 16px;
        border-width: 1px;
    }
    .item-catalog__image {
        padding: 13px;
        height: 170px;
        margin-bottom: 15px;
    }
    .item-catalog__title {
        font-size: 18px;
        margin-bottom: 11px;
    }
    .item-catalog .btn-page {
        padding: 0 26px;
    }
    .pager {
        height: 40px;
        margin-top: 35px;
    }
    .page-numbers {
        margin: 0 15px;
        font-size: 17px;
    }
    .prev.page-numbers,
    .next.page-numbers {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }
    .item-catalog:hover {
        box-shadow: 0 5px 15px #e6e8f4;
    }
    
    .page-contacts {
        padding-top: 33px;
    }
    .contacts-block {
        padding: 25px 20px;
        padding-bottom: 1px;
        min-height: initial;
        margin-bottom: 25px;
        border-radius: 16px;
    }
    .item-contact {
        margin-bottom: 23px;
        font-size: 16px;
    }
    .item-contact__title {
        font-size: 18px;
        margin-bottom: 13px;
    }
    .item-contact_time {
        margin-left: 0;
    }
    .page-contacts .title-form {
        font-size: 28px;
    }
    .page-contacts .form-page {
        padding: 24px 20px;
        padding-bottom: 29px;
    }
    #map {
        height: 380px;
        margin-top: 37px;
    }
    .contacts-block .title-section {
        margin-bottom: 20px;
    }
    .item-contact_location p {
        max-width: 260px;
    }
    .btn-page_filter {
        padding: 0 25px;
        height: 44px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
    .btn-page.btn-page_filter:hover {
        color: #fff;
        background: #00478a;
    }
    .btn-page.btn-page_filter.active {
        background: #f1f5f6;
        color: #00478a;
    }
    .slider-for {
        border-width: 1px;
        border-radius: 16px;
    }
    .slider-for__item {
        height: 280px;
        padding: 20px 30px;
    }
    .slider-nav__item {
        height: 90px;
        padding: 10px;
        border-width: 1px;
    }
    .slider-nav .slick-slide {
        padding: 0 3px;
    }
    .slider-nav .slick-list {
        margin: 0 -3px;
    }
    .slider-nav {
        margin-top: 9px;
    }
    .breadcrumbs {
        padding-top: 14px;
        padding-bottom: 19px;
        font-size: 13px;
        display: block;
    }
    .breadcrumbs li {
        display: inline;
    }
    .breadcrumbs li::after {
        margin: 0 6px;
    }
    .breadcrumbs li:last-child::after {
        display: none;
    }
    .card-info {
        padding: 20px 15px;
        border-radius: 16px;
        margin-top: 30px;
        padding-bottom: 30px;
    }
    .title-small {
        font-size: 16px;
    }
    .card-info .title-small {
        margin-top: 15px;
        margin-bottom: 11px;
    }
    .card-info li {
        padding-left: 15px;
        margin-bottom: 10px;
    }
    .card-info li::before {
        left: 3px;
    }
    .card-info__buttons {
        gap: 20px;
        padding-top: 20px;
        justify-content: space-between;
    }
    .price-main {
        font-size: 25px;
    }
    .card-info .btn-main {
        padding: 0 42px;
    }
    .page-card {
        padding-bottom: 40px;
    }
    .page-card .tabs {
        margin-top: 25px;
        padding-bottom: 8px;
        gap: 11px;
        margin-right: -15px;
        overflow: auto;
    }
    .page-card .tabs a {
        padding: 10px 24px;
        font-size: 16px;
        white-space: nowrap;
        border-radius: 10px;
    }
    .page-card .tab-container {
        padding-top: 25px;
    }
    .feature {
        margin-bottom: 10px;
        justify-content: space-between;
    }
    .feature > *:first-child {
        min-width: initial;
        padding-right: 10px;
    }
    .page-card .tabs::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    .page-card .tabs::-webkit-scrollbar:vertical {
        width: 3px;
    }
    .page-card .tabs::-webkit-scrollbar:horizontal {
        height: 3px;
    }
    .page-card .tabs::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px;
    }
    .page-card .tabs::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #ccc;
    }
    .recommendations {
        padding-bottom: 60px;
    }
    .slider-catalog .slick-slide {
        padding: 16px;
        height: inherit !important;
    }
    .slider-catalog .slick-list {
        margin: -16px;
    }
    .slider-catalog .slick-prev {
        left: -70px;
    }
    .slider-catalog .slick-next {
        right: -70px;
    }
    .recommendations .title-section {
        margin-bottom: 27px;
    }
    .slider-partners .slick-prev,
    .slider-team .slick-prev,
    .slider-catalog .slick-prev {
        left: -10px;
    }
    .slider-partners .slick-next,
    .slider-team .slick-next,
    .slider-catalog .slick-next {
        right: -10px;
    }
    .slider-catalog .slick-arrow {
        margin-top: 10px;
    }
    .fancybox-slide--html .fancybox-close-small {
        padding: 5px;
        right: 4px;
        top: 6px;
    }
    .descr-form {
        margin-bottom: 33px;
    }
    .modal-block .form-page {
        padding: 28px 20px;
        width: 387px;
    }
    .modal-block .form-page .title-form {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .modal-block .form-page .item-form input {
        height: 56px;
    }
    .modal-block .form-page .btn-main {
        font-size: 15px;
        margin-top: 24px;
        height: 54px;
    }
    .page-mockup {
        padding-top: 75px;
        padding-bottom: 120px;
    }
    .title-mockup {
        font-size: 26px;
        margin-bottom: 23px;
    }
    .title-mockup span {
        font-size: 50px;
        margin: 12px 0;
    }
    .descr-mockup {
        font-size: 16px;
        max-width: 336px;
    }
    .page-mockup .btn-main {
        margin-top: 43px;
        height: 52px;
        padding: 0 33px;
    }


    .page-about {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .billbord-about {
        min-height: 400px;
        padding: 30px 20px;
        border-radius: 16px;
    }
    .billbord-about .title-section {
        margin-bottom: 30px;
        color: #fff;
    }
    .billbord-about__text {
        font-size: 16px;
        max-width: 700px;
        margin-left: 0;
    }
    .billbord-about__text p {
        margin-bottom: 15px;
    }
    .item-partner {
        height: 160px;
        padding: 15px;
        border-width: 1px;
        border-radius: 10px;
    }
    .partners {
        padding-bottom: 50px;
    }
    .item-advantage {
        padding: 25px 20px;
        border-radius: 16px;
    }
    .item-advantage__icon {
        width: 50px;
        height: 50px;
        margin-bottom: 18px;
    }
    .advantages {
        padding-bottom: 20px;
    }
    .team {
        padding: 40px 0;
    }
    .team .title-section {
        margin-bottom: 28px;
    }
    .item-team {
        padding: 16px;
        padding-bottom: 40px;
        border-radius: 16px;
    }
    .item-team__image {
        height: 300px;
        border-radius: 10px;
    }
    .item-team__image img {
        border-radius: 10px;
    }
    .item-team__content {
        padding: 19px 15px;
        padding-bottom: 0;
    }
    .item-team__title {
        margin-bottom: 2px;
        font-size: 18px;
    }
    .documents {
        padding-bottom: 50px;
    }
    .item-document {
        padding: 8px;
        gap: 7px;
        border-radius: 16px;
    }
    .item-document:hover {
        box-shadow: 0 5px 15px #e6e8f4;
    }
    .item-document__image {
        width: 140px;
        height: 200px;
        border-radius: 10px;
    }
    .item-document__image img {
        border-radius: 10px;
    }
    .item-document__content {
        padding: 15px 0;
    }
    .item-document__descr {
        gap: 7px;
    }
    .item-document__descr img {
        width: 24px;
    }
    .consultation-about {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .image-page img {
        border-radius: 16px;
    }
    .text-big {
        font-size: 16px;
    }
    .consultation-about .text-big {
        max-width: 668px;
        margin-bottom: 20px;
    }
    .text-big p {
        margin-bottom: 15px;
    }
    .wrapper {
        overflow: hidden;
    }


    .item-industry {
        height: 355px;
        padding: 20px 15px;
        padding-bottom: 15px;
        padding-right: 10px;
        border-radius: 16px;
        font-size: 12px;
    }
    .item-industry__image {
        border-radius: 16px;
    }
    .item-industry__image img {
        border-radius: 16px;
    }
    .item-industry__image::after {
        border-radius: 16px;
    }
    .item-industry__title {
        font-size: 20px;
        margin-bottom: 22px;
    }
    .item-industry__text {
        max-height: 235px;
    }
    .page-industries .text-big {
        margin-bottom: 30px;
        max-width: 908px;
    }
    .page-industries {
        padding-top: 25px;
        padding-bottom: 45px;
    }
    .item-industry__text::-webkit-scrollbar:vertical {
        width: 4px;
    }
    .item-industry__text::-webkit-scrollbar:horizontal {
        height: 4px;
    }
    .questions_page {
        margin-top: 0;
    }
    .page-news {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .item-news__image {
        height: 210px;
        margin-bottom: 15px;
        border-radius: 16px;
    }
    .item-news__image img {
        border-radius: 16px;
    }
    .item-news__content {
        padding: 0 12px;
    }
    .item-news__date {
        margin-bottom: 12px;
        font-size: 13px;
    }
    .item-news__title {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .page-news .row.row_main > div {
        margin-bottom: 30px;
    }
    .page-news .row.row_main {
        margin-bottom: -30px;
    }
    .article-content p {
        margin-bottom: 15px;
    }
    .article-content h2 {
        font-size: 21px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .article-content h1 {
        font-size: 26px;
        margin-bottom: 14px;
    }
    .date-article {
        font-size: 14px;
        margin-bottom: 27px;
    }
    .article-content li {
        padding-left: 15px;
        margin-bottom: 10px;
        position: relative;
    }
    .article-content li::before {
        left: 3px;
    }
    .article-content img {
        margin: 20px 0;
        margin-top: 15px;
        border-radius: 16px;
    }
    .article-content blockquote {
        padding: 32px 20px;
        margin: 0;
        margin-top: 40px;
        border-radius: 16px;
        font-size: 18px;
        line-height: 140%;
    }
    .article-content blockquote::after,
    .article-content blockquote::before {
        width: 24px;
        height: 17px;
        left: 30px;
    }
    .article-content blockquote::after {
        right: 30px;
        left: auto;
    }
    .sidebar-article {
        top: 0;
        position: relative;
    }
    .page-article {
        padding-bottom: 50px;
    }


    .page-delivery {
        padding-bottom: 50px;
    }
    .delivery-block {
        padding: 25px 15px;
        font-size: 13px;
        border-radius: 16px;
    }
    .delivery-block .text-big { 
        margin-bottom: 20px;
    }
    .delivery-block__icon {
        width: 36px;
        height: 36px;
        margin-bottom: 12px;
    }
    .delivery-block__item {
        max-width: 215px;
    }
    .delivery-block__subtitle {
        margin-top: 18px;
        margin-bottom: 14px;
        font-size: 17px;
    }
    .row.row_delivery > div {
        margin-bottom: 30px;
    }
    .row.row_delivery {
        margin-bottom: -30px;
    }
    .requisites {
        font-size: 14px;
        columns: initial;
    }
    .requisites p span:first-child {
        min-width: 138px;
    }
    .card-info {
        top: 0;
    }
    .slider-photos__item {
        height: auto;
        border-radius: 16px;
    }
    .slider-photos__item img {
        width: 100%;
        height: auto;
        object-fit: initial;
        font-family: initial;
        border-radius: 16px;
    }
    .slider-photos {
       margin-top: 25px;
       padding-bottom: 33px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .sandwich,
    .menu-overlay,
    .menu-mobile,
    .show-mob {
        display: none !important;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {

}